* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.masLeidos {
  text-align: center;
  background-color: #5e6979;
  color: white;
  font-size: 50px;
}

.encabezado {
  background-color: #5e6979;
  background-size: 100%;
  margin: 0px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__h1--color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 20px;
  margin: 0px 0px 0px 0px;
  text-decoration: underline;
  color: honeydew;
}

.fondo {
  background-image: url(IMG/image-from-rawpixel-id-3237432-original.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.navbar-nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

nav a {
  opacity: 1;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background: white;
  top: -1em;
  left: 0;
  right: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform ease-in-out 0.5s;
  transition: -webkit-transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s;
  transition: transform ease-in-out 0.5s, -webkit-transform ease-in-out 0.5s;
}

nav a:hover::before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.full__container {
  background-color: none;
}

.contenedora__inicio {
  margin: 10px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card {
  padding: 10px;
  margin: 20px 0px 15px 0px;
  background-color: #5e6979;
  color: #fff;
  text-align: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

/*footer*/
:root {
  --color-facebook:  #3b5998;
  --color-instagram: #125688;
  --color-twitter: #55acee;
  --color-pinterest:#bb0000;
}

.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  padding: 0 15px;
  background-color: #5e6979;
  bottom: 0px;
  left: 0px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  text-decoration: none;
  background-color: white;
  color: black;
}

.icon:not(:first-child) {
  margin-left: 20px;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-facebook {
  background-color: var(--color-facebook);
}

.icon-instagram {
  background-color: var(--color-instagram);
}

.icon-twitter {
  background-color: var(--color-twitter);
}

.icon-pinterest {
  background-color: var(--color-pinterest);
}

.icon-youtube {
  background-color: var(--color-pinterest);
}

/* carusel */
.encabezado-carusel {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin: 5px 0px 10px 0px;
  background-color: #5e6979;
}

.carousel-item {
  width: 50%;
  text-align: right;
  margin-left: 150px;
}

.carousel-control-next:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  color: black;
}

.carousel-control-prev:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
  color: black;
}

@media only screen and (min-width: 460px) {
  .carousel-item {
    opacity: 1;
  }
  .carousel {
    opacity: 1;
  }
}

@media only screen and (max-width: 627px) {
  .carousel-item {
    opacity: 0;
  }
  .carousel {
    opacity: 0;
  }
}

/* formulario */
.form-btn {
  width: 100%;
  height: 50px;
  margin: 5px;
}

.formdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  height: 100%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: #5e6979;
  padding: 10px 20px;
  -webkit-box-sizing: 20px;
          box-sizing: 20px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  padding: 10px 20px;
  -webkit-box-sizing: 20px;
          box-sizing: 20px;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Contactanos-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 17px;
  border: none;
}

textarea {
  min-height: 200px;
  max-height: 300px;
  max-width: 100%;
}

.btn-genero {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  border: none;
  font-size: 30px;
}

.btn-genero:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 1s;
  transition: 1s;
  color: #ffdfb5;
}

.masLeidos {
  text-align: center;
  font-size: 60px;
  padding-bottom: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=estilos.css.map */